@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UniNeue";
  src: url("../fonts/UniNeue/UniNeueBlack.woff") format("woff"), url("../fonts/UniNeue/UniNeueBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UniNeue";
  src: url("../fonts/UniNeue/UniNeueBold.woff") format("woff"), url("../fonts/UniNeue/UniNeueBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UniNeue";
  src: url("../fonts/UniNeue/UniNeueRegular.woff") format("woff"), url("../fonts/UniNeue/UniNeueRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "UniNeue", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  color: rgba(27, 27, 27, 0.45);
  background: #EFEFEF;
}

.button {
  font-family: "UniNeue", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  color: #1B1B1B;
  transition: 0.3s;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border: 3px solid #FFC700;
  background: #FFC700;
  border-radius: 15px;
  padding: 20px 0;
  overflow: hidden;
  position: relative;
}
.button:hover {
  background: #ffda6c;
}
.button--effect {
  position: relative;
}
.button--effect:hover {
  transform: none;
}
.button--effect::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 200%;
  transform: translateY(-50%);
  background: linear-gradient(to right top, transparent 29%, rgba(255, 255, 255, 0.8) 29% 32%, transparent 32% 35%, rgba(255, 255, 255, 0.8) 35% 40%, transparent 42% 45%, rgba(67, 66, 66, 0.7) 45% 55%, transparent 55% 58%, rgba(255, 255, 255, 0.8) 58% 61%, transparent 61%);
  opacity: 0.3;
  left: 0;
  top: 0;
  transition: 0.8s;
  z-index: 3;
  animation: toRight 6s infinite;
}
.button--blue {
  background: transparent;
  border-radius: 10px;
  border: 3px solid #226DFF;
  color: #226DFF;
}
.button--blue:hover {
  color: #FFFFFF;
  background: #226DFF;
}

.input {
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #1B1B1B;
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
  color: rgba(27, 27, 27, 0.45);
}
.input:focus {
  outline: none;
}
.input::-moz-placeholder {
  color: rgba(27, 27, 27, 0.45);
}
.input::placeholder {
  color: rgba(27, 27, 27, 0.45);
}

.input-group {
  width: 100%;
  position: relative;
}

.section {
  max-width: 1920px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.section__title {
  font-family: "UniNeue", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: normal;
  color: #226DFF;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.section__title span {
  border-radius: 15px;
  background: #FFC700;
  padding: 0 20px;
}

.container {
  max-width: 1600px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.row--center {
  align-items: center;
}

@keyframes toRight {
  0% {
    left: -100%;
  }
  85% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
.header {
  padding-top: 38px;
  padding-bottom: 38px;
  background: #FFF;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__box {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header__item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #1B1B1B;
}
.header__logo {
  color: #226DFF;
  font-size: 27px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
}
.header__logo span {
  color: #1B1B1B;
}
.header__phone {
  color: #226DFF;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
}

.footer {
  background: #fff;
  padding-top: 38px;
  padding-bottom: 38px;
}
.footer__logo {
  color: #226DFF;
  font-size: 27px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
}
.footer__logo span {
  color: #1B1B1B;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__box {
  display: flex;
  gap: 25px;
}
.footer__card {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__phone {
  color: #226DFF;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
}

.modal {
  position: fixed;
  z-index: 199;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 17, 37, 0.4), rgba(0, 17, 37, 0.4));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  overflow: auto;
}
.modal--active {
  opacity: 1;
  visibility: visible;
}
.modal__container {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 100%;
  justify-content: center;
  padding: 20px;
}
.modal__dialog {
  width: 100%;
  max-width: 930px;
  padding: 145px 20px 120px;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0 1px 6px 0 rgba(63, 63, 63, 0.4);
  position: relative;
  text-align: center;
}
.modal__close {
  cursor: pointer;
  position: absolute;
  top: 28px;
  right: 32px;
}
.modal__title {
  color: #1B1B1B;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  margin-bottom: 20px;
}
.modal__text {
  color: #1B1B1B;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 40px;
}
.modal__form {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.modal__input-group {
  max-width: 235px;
}
.modal__button {
  width: 100%;
  max-width: 235px;
  padding: 0;
  height: 60px;
}
.modal__input {
  padding: 0 20px;
  height: 60px;
}

.main {
  background: url("../img/main/bg.png") no-repeat right calc(100% - 105px);
  color: #1B1B1B;
  padding: 0;
  margin-bottom: 140px;
}
.main__img {
  display: none;
}
.main__container {
  background: url("../img/main/img.png") no-repeat right bottom;
  padding: 95px 20px 80px;
  max-width: 1640px;
}
.main__steps {
  width: 100%;
  padding: 30px 20px;
  background: #fff;
}
.main__steps__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1576px;
  margin: auto;
}
.main__step {
  display: flex;
  align-items: center;
  gap: 15px;
}
.main__step__num {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFC700;
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
}
.main__title {
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  border-radius: 15px;
  background: #FFC700;
  display: inline-block;
  padding: 20px 30px;
  margin-bottom: 15px;
}
.main__subtitle {
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 10px;
}
.main__subtitle span {
  color: #226DFF;
}
.main__text {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 50px;
}
.main__text b {
  font-weight: 900;
  border-radius: 15px;
  background: #FFC700;
  padding: 4px 10px;
}
.main__row {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 35px;
}
.main__card {
  display: flex;
  align-items: center;
  gap: 15px;
}
.main__form {
  display: flex;
  align-items: center;
  gap: 15px;
}
.main__input-group {
  width: 275px;
}
.main__button {
  width: 275px;
  padding: 0;
  height: 60px;
}
.main__input {
  padding: 0 20px;
  height: 60px;
}

.kinds {
  margin-bottom: 140px;
}
.kinds__arrow {
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  font-size: 16px;
}
.kinds__title {
  color: #1B1B1B;
  margin-bottom: 30px;
}
.kinds__text {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: #1B1B1B;
  margin-bottom: 60px;
}
.kinds__row {
  display: grid;
  gap: 30px 20px;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
}
.kinds__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  padding-bottom: 20px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.3s;
}
.kinds__card:hover {
  border: 2px solid #226DFF;
}
.kinds__card__img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.kinds__card__title {
  color: #1B1B1B;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 10px;
  padding: 0 30px;
}
.kinds__card__text {
  padding: 0 30px;
  text-align: center;
}
.kinds__card__content {
  margin-bottom: 15px;
}
.kinds__card__button {
  width: calc(100% - 40px);
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  border-radius: 15px;
  background: #FFF;
  padding: 58px 20px;
  margin-bottom: 140px;
}
.form__title {
  margin-bottom: 38px;
}
.form__text {
  color: #1B1B1B;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 48px;
}
.form__form {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.form__input-group {
  max-width: 270px;
}
.form__button {
  width: 100%;
  max-width: 270px;
  height: 60px;
  padding: 0;
}
.form__input {
  padding: 0 20px;
  height: 60px;
}

.advantages {
  margin-bottom: 140px;
}
.advantages__container {
  max-width: 1060px;
}
.advantages__card {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 20px;
  border: 2px solid rgba(34, 109, 255, 0.75);
  background: #FFF;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: stretch;
  gap: 100px;
}
.advantages__card:last-child {
  margin-bottom: 0;
}
.advantages__card__box {
  padding: 60px 20px 60px 0;
}
.advantages__card__title {
  color: #1B1B1B;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.notfound {
  text-align: center;
  background: url("../img/notfound/bg.png") no-repeat center 80px, #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 140px 20px 78px;
}
.notfound__img {
  margin: -70px 0 40px;
}
.notfound__text {
  color: #1B1B1B;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.notfound__title {
  color: #FFC700;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.notfound__subtitle {
  color: #1B1B1B;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}

.thanks {
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0 1px 6px 0 rgba(63, 63, 63, 0.4);
  max-width: 1370px;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.thanks__title {
  color: #226DFF;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  margin-bottom: 28px;
  line-height: 110%;
}
.thanks__text {
  color: #1B1B1B;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.thanks__close {
  position: absolute;
  top: 40px;
  right: 60px;
}

@media screen and (max-width: 1440px) {
  .section__title {
    font-size: 40px;
  }
  .notfound__img {
    width: 600px;
    margin: -50px 20px 20px;
  }
  .thanks {
    max-width: 930px;
  }
  .thanks__title {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .thanks__text {
    font-size: 22px;
  }
  .footer__phone {
    font-size: 24px;
  }
  .footer__logo {
    font-size: 18px;
  }
  .footer__card {
    font-size: 16px;
  }
  .advantages {
    margin-bottom: 90px;
  }
  .advantages__container {
    max-width: 970px;
  }
  .advantages__card__title {
    font-size: 28px;
  }
  .advantages__card__text {
    font-size: 18px;
  }
  .advantages__card img {
    width: 240px;
  }
  .form {
    padding: 50px 20px;
    margin-bottom: 90px;
  }
  .form__text {
    font-size: 20px;
  }
  .kinds {
    margin-bottom: 90px;
  }
  .kinds__card__button {
    font-size: 18px;
    padding: 18px 0;
    border-radius: 10px;
  }
  .kinds__card__text {
    font-size: 16px;
    padding: 0 20px;
  }
  .kinds__card__title {
    padding: 0 20px;
    font-size: 22px;
  }
  .main {
    background: url("../img/main/bg.png") no-repeat calc(100% + 200px) calc(100% - 105px);
    margin-bottom: 90px;
  }
  .main__steps__row {
    max-width: 950px;
  }
  .main__steps__arrow {
    width: 75px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }
  .main__steps__arrow img {
    max-width: none;
  }
  .main__step__num {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
  .main__step__text {
    font-size: 16px;
    max-width: 90px;
  }
  .main__container {
    background: url("../img/main/img.png") no-repeat right bottom/400px;
    padding: 45px 20px 60px;
  }
  .main__title {
    font-size: 55px;
    padding: 14px 28px;
  }
  .main__subtitle {
    font-size: 26px;
  }
  .main__text {
    font-size: 26px;
    margin-bottom: 35px;
  }
  .main__row {
    gap: 20px;
    max-width: 700px;
    flex-wrap: wrap;
  }
  .header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header__logo {
    font-size: 22px;
  }
  .header__phone {
    font-size: 24px;
  }
  .header__item {
    font-size: 16px;
  }
}
@media screen and (max-width: 1100px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header__logo {
    font-size: 18px;
  }
  .header__phone {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .section__title {
    font-size: 35px;
  }
  .thanks {
    max-width: 400px;
  }
  .thanks__close {
    right: 50%;
    transform: translateX(50%);
    top: 25px;
  }
  .thanks__title {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .modal__dialog {
    border-radius: 15px;
    max-width: 400px;
    padding: 90px 15px 45px;
  }
  .modal__close {
    right: 50%;
    transform: translateX(50%);
  }
  .modal__title {
    font-size: 30px;
    margin-bottom: 13px;
  }
  .modal__text {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .modal__form {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .modal__input {
    font-size: 16px;
    height: 50px;
    border-radius: 10px;
  }
  .modal__button {
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    max-width: none;
  }
  .modal__input-group {
    max-width: none;
  }
  .footer__phone {
    font-size: 20px;
  }
  .footer__card {
    max-width: 145px;
  }
  .advantages {
    margin-bottom: 80px;
  }
  .advantages__container {
    max-width: 700px;
  }
  .advantages__card {
    gap: 40px;
  }
  .advantages__card img {
    width: 165px;
  }
  .advantages__card__box {
    padding: 25px 20px 25px 0;
  }
  .advantages__card__title {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .advantages__card__text {
    font-size: 16px;
  }
  .form {
    padding: 35px 20px;
    margin-bottom: 80px;
  }
  .form__title {
    margin-bottom: 30px;
  }
  .form__input {
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
  }
  .form__form {
    gap: 15px;
  }
  .form__input-group {
    max-width: 270px;
  }
  .form__button {
    font-size: 16px;
    height: 50px;
    border-radius: 10px;
    max-width: 270px;
  }
  .kinds {
    padding: 0;
    margin-bottom: 80px;
  }
  .kinds__card {
    min-width: 355px;
  }
  .kinds__row {
    display: flex;
    width: -moz-min-content;
    width: min-content;
    padding: 0 20px;
  }
  .kinds__window {
    overflow: auto;
    margin-bottom: 15px;
  }
  .kinds__title {
    margin-bottom: 25px;
    padding: 0 20px;
  }
  .kinds__text {
    padding: 0 20px;
    margin-bottom: 40px;
  }
  .main {
    margin-bottom: 80px;
    position: relative;
    padding-bottom: 80px;
  }
  .main__step--3 {
    order: 7;
  }
  .main__step--4 {
    order: 5;
  }
  .main__steps {
    padding: 16px 20px;
  }
  .main__steps__row {
    max-width: 450px;
    flex-wrap: wrap;
    position: relative;
    gap: 80px 20px;
  }
  .main__steps__arrow {
    width: 50px;
  }
  .main__steps__arrow--2 {
    position: absolute;
    transform: rotate(90deg) translateX(calc(-50% + 18px));
    right: 50px;
    top: 50%;
  }
  .main__steps__arrow--3 {
    transform: rotateY(180deg);
    order: 6;
  }
  .main__container {
    padding-bottom: 45px;
    background: url("../img/main/imgM.png") no-repeat calc(100% + 50px) bottom;
  }
  .main__row {
    margin-bottom: 0;
  }
  .main__card {
    font-size: 16px;
  }
  .main__card img {
    width: 50px;
  }
  .main__title {
    font-size: 35px;
    margin-bottom: 25px;
  }
  .main__text {
    font-size: 22px;
  }
  .main__form {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    justify-content: center;
    padding: 0 20px;
    gap: 15px;
  }
  .main__input {
    font-size: 16px;
    height: 50px;
  }
  .main__button {
    height: 50px;
    width: 100%;
    font-size: 16px;
  }
  .main__input-group {
    width: 100%;
  }
  .header__item {
    max-width: 150px;
  }
}
@media screen and (max-width: 767px) {
  .notfound {
    background: url("../img/notfound/bg.png") no-repeat center 20px/400px, #fff;
    padding: 80px 15px 20px;
  }
  .notfound__img {
    max-width: 100%;
    margin: -35px 0 20px;
  }
  .notfound__title {
    font-size: 35px;
    margin-bottom: 5px;
  }
  .notfound__subtitle {
    font-size: 14px;
  }
  .notfound__text {
    font-size: 14px;
  }
  .footer {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .footer__card {
    max-width: none;
  }
  .footer__row {
    flex-direction: column;
    gap: 25px;
  }
  .advantages__card {
    flex-direction: column;
    align-items: center;
    background: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
    gap: 0;
    margin-bottom: 25px;
  }
  .advantages__card__box {
    border-radius: 20px;
    border: 2px solid rgba(34, 109, 255, 0.75);
    background: #FFF;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 25px 20px;
    text-align: center;
  }
  .form__form {
    flex-direction: column;
  }
  .form__container {
    max-width: 500px;
  }
  .main {
    padding: 100px 0 210px;
    background: url("../img/main/bgM.png") no-repeat right top;
    text-align: center;
  }
  .main__step {
    text-align: left;
  }
  .main__row {
    justify-content: center;
    margin-bottom: 40px;
    gap: 25px;
  }
  .main__card {
    text-align: left;
  }
  .main__img {
    display: block;
    margin: auto;
  }
  .main__container {
    padding: 0 15px;
    background: none;
  }
  .main__form {
    flex-direction: column;
  }
  .main__input-group, .main__button {
    max-width: 400px;
  }
  .main__text__last {
    display: block;
  }
  .header {
    padding: 26px 20px 0;
    background: linear-gradient(to bottom, #fff 48%, transparent 48%);
    margin-bottom: -75px;
    position: relative;
    z-index: 1;
  }
  .header__row {
    flex-direction: column;
    align-items: center;
    gap: 36px;
  }
  .header__box {
    flex-direction: column;
    gap: 10px;
  }
  .header__item {
    max-width: none;
  }
}
@media screen and (max-width: 575px) {
  .section {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer__box {
    flex-direction: column;
    gap: 20px;
  }
  .kinds {
    padding: 0;
  }
  .kinds__title, .kinds__text {
    padding: 0 15px;
  }
  .kinds__title span {
    display: inline-block;
  }
  .kinds__row {
    padding: 0 10px;
  }
  .kinds__arrow {
    padding: 0 10px;
  }
  .main {
    padding-left: 0;
    padding-right: 0;
  }
  .main__row {
    justify-content: flex-start;
    max-width: 300px;
    margin: 0 auto 40px;
  }
  .main__step {
    flex-direction: column;
    text-align: center;
  }
  .main__steps__row {
    flex-direction: column;
    gap: 40px;
  }
  .main__steps__arrow {
    position: static;
    transform: rotate(90deg);
  }
}