@media screen and (max-width: 1440px)
  .section
    &__title
      font-size: 40px

  .notfound
    &__img
      width: 600px
      margin: -50px 20px 20px

  .thanks
    max-width: 930px
    &__title
      font-size: 40px
      margin-bottom: 15px
    &__text
      font-size: 22px

  .footer
    &__phone
      font-size: 24px
    &__logo
      font-size: 18px
    &__card
      font-size: 16px

  .advantages
    margin-bottom: 90px
    &__container
      max-width: 970px
    &__card
      &__title
        font-size: 28px
      &__text
        font-size: 18px
      img
        width: 240px

  .form
    padding: 50px 20px
    margin-bottom: 90px
    &__text
      font-size: 20px

  .kinds
    margin-bottom: 90px
    &__card
      &__button
        font-size: 18px
        padding: 18px 0
        border-radius: 10px
      &__text
        font-size: 16px
        padding: 0 20px
      &__title
        padding: 0 20px
        font-size: 22px

  .main
    background: url("../img/main/bg.png") no-repeat calc(100% + 200px) calc(100% - 105px)
    margin-bottom: 90px
    &__steps
      &__row
        max-width: 950px
      &__arrow
        width: 75px
        overflow: hidden
        display: flex
        justify-content: flex-end
        img
          max-width: none
    &__step
      &__num
        width: 35px
        height: 35px
        font-size: 20px
      &__text
        font-size: 16px
        max-width: 90px
    &__container
      background: url("../img/main/img.png") no-repeat right bottom/400px
      padding: 45px 20px 60px
    &__title
      font-size: 55px
      padding: 14px 28px
    &__subtitle
      font-size: 26px
    &__text
      font-size: 26px
      margin-bottom: 35px
    &__row
      gap: 20px
      max-width: 700px
      flex-wrap: wrap

  .header
    padding-top: 30px
    padding-bottom: 30px
    &__logo
      font-size: 22px
    &__phone
      font-size: 24px
    &__item
      font-size: 16px

@media screen and (max-width: 1100px)
  .header
    padding-top: 24px
    padding-bottom: 24px
    &__logo
      font-size: 18px
    &__phone
      display: none

@media screen and (max-width: 991px)
  .section
    &__title
      font-size: 35px

  .thanks
    max-width: 400px
    &__close
      right: 50%
      transform: translateX(50%)
      top: 25px
    &__title
      font-size: 35px
      margin-bottom: 10px

  .modal
    &__dialog
      border-radius: 15px
      max-width: 400px
      padding: 90px 15px 45px
    &__close
      right: 50%
      transform: translateX(50%)
    &__title
      font-size: 30px
      margin-bottom: 13px
    &__text
      margin-bottom: 20px
      font-size: 22px
    &__form
      flex-direction: column
      align-items: center
      gap: 10px
    &__input
      font-size: 16px
      height: 50px
      border-radius: 10px
    &__button
      height: 50px
      font-size: 18px
      border-radius: 10px
      max-width: none
    &__input-group
      max-width: none


  .footer
    &__phone
      font-size: 20px
    &__card
      max-width: 145px

  .advantages
    margin-bottom: 80px
    &__container
      max-width: 700px
    &__card
      gap: 40px
      img
        width: 165px
      &__box
        padding: 25px 20px 25px 0
      &__title
        font-size: 22px
        margin-bottom: 15px
      &__text
        font-size: 16px

  .form
    padding: 35px 20px
    margin-bottom: 80px
    &__title
      margin-bottom: 30px
    &__input
      height: 50px
      font-size: 16px
      border-radius: 10px
    &__form
      gap: 15px
    &__input-group
      max-width: 270px
    &__button
      font-size: 16px
      height: 50px
      border-radius: 10px
      max-width: 270px

  .kinds
    padding: 0
    margin-bottom: 80px
    &__card
      min-width: 355px
    &__row
      display: flex
      width: min-content
      padding: 0 20px
    &__window
      overflow: auto
      margin-bottom: 15px
    &__title
      margin-bottom: 25px
      padding: 0 20px
    &__text
      padding:  0 20px
      margin-bottom: 40px

  .main
    margin-bottom: 80px
    position: relative
    padding-bottom: 80px
    &__step
      &--3
        order: 7
      &--4
        order: 5
    &__steps
      padding: 16px 20px
      &__row
        max-width: 450px
        flex-wrap: wrap
        position: relative
        gap: 80px 20px
      &__arrow
        width: 50px
        &--2
          position: absolute
          transform: rotate(90deg) translateX(calc(-50% + 18px))
          right: 50px
          top: 50%
        &--3
          transform: rotateY(180deg)
          order: 6
    &__container
      padding-bottom: 45px
      background: url("../img/main/imgM.png") no-repeat calc(100% + 50px) bottom
    &__row
      margin-bottom: 0
    &__card
      font-size: 16px
      img
        width: 50px
    &__title
      font-size: 35px
      margin-bottom: 25px
    &__text
      font-size: 22px
    &__form
      position: absolute
      width: 100%
      left: 0
      bottom: 0
      justify-content: center
      padding: 0 20px
      gap: 15px
    &__input
      font-size: 16px
      height: 50px
    &__button
      height: 50px
      width: 100%
      font-size: 16px
    &__input-group
      width: 100%

  .header
    &__item
      max-width: 150px

@media screen and (max-width: 767px)
  .notfound
    background: url('../img/notfound/bg.png') no-repeat center 20px/400px, #fff
    padding: 80px 15px 20px
    &__img
      max-width: 100%
      margin: -35px 0 20px
    &__title
      font-size: 35px
      margin-bottom: 5px
    &__subtitle
      font-size: 14px
    &__text
      font-size: 14px

  .footer
    padding-top: 25px
    padding-bottom: 25px
    &__card
      max-width: none
    &__row
      flex-direction: column
      gap: 25px

  .advantages
    &__card
      flex-direction: column
      align-items: center
      background: transparent
      border-radius: 0
      border: none
      box-shadow: none
      gap: 0
      margin-bottom: 25px
      &__box
        border-radius: 20px
        border: 2px solid rgba(34, 109, 255, 0.75)
        background: #FFF
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15)
        padding: 25px 20px
        text-align: center

  .form
    &__form
      flex-direction: column
    &__container
      max-width: 500px

  .main
    padding: 100px 0 210px
    background: url("../img/main/bgM.png") no-repeat right top
    text-align: center
    &__step
      text-align: left
    &__row
      justify-content: center
      margin-bottom: 40px
      gap: 25px
    &__card
      text-align: left
    &__img
      display: block
      margin: auto
    &__container
      padding: 0 15px
      background: none
    &__form
      flex-direction: column
    &__input-group, &__button
      max-width: 400px
    &__text
      &__last
        display: block

  .header
    padding: 26px 20px 0
    background: linear-gradient(to bottom, #fff 48%, transparent 48%)
    margin-bottom: -75px
    position: relative
    z-index: 1
    &__row
      flex-direction: column
      align-items: center
      gap: 36px
    &__box
      flex-direction: column
      gap: 10px
    &__item
      max-width: none

@media screen and (max-width: 575px)
  .section
    padding-left: 15px
    padding-right: 15px

  .footer
    &__box
      flex-direction: column
      gap: 20px

  .kinds
    padding: 0
    &__title, &__text
      padding: 0 15px
    &__title
      span
        display: inline-block
    &__row
      padding: 0 10px
    &__arrow
      padding: 0 10px

  .main
    padding-left: 0
    padding-right: 0
    &__row
      justify-content: flex-start
      max-width: 300px
      margin: 0 auto 40px
    &__step
      flex-direction: column
      text-align: center
    &__steps
      &__row
        flex-direction: column
        gap: 40px
      &__arrow
        position: static
        transform: rotate(90deg)